{% extends "::modele.html.twig" %}

 {% block menu %}{{parent()}}Création user stories Tech{% endblock %}

    {% block contentLeft %}
            
        <form method="post" action="{{idUserStory}}"> 
            <fieldset style="height: 350px;"> <legend>Nouveau détail technique</legend>
                <br><label>Description :</label><br>
                <textarea rows="10" cols="50" name="description"></textarea> <br /><br />
                <input type='submit' value='Ajouter' name='ajoutDetailTechnique'/>
             </fieldset>
        </form>
        
    {% endblock %}

    {% block contentRight %} 
 
        <table><tr>
        {% set counter = 0 %}
        {% for userStory in userStoriesTechnique %}

            {% set counter = counter + 1 %}

            <td>#{{userStory.userStorieUserStorie.idUserStorie}}.{{userStory.idUserStoriesTechnique}}<br>
                    Fonctionnalité : {{userStory.userStorieUserStorie.fonctionnalite}} <br>
                    Description : {{userStory.descriptionTechnique}} <br>
               
           </td >

          {%if counter == 4%}
            </tr><tr>
            {% set counter = 0 %}   
          {% endif %}
   
        {%endfor%}
            </tr></table>
    
    {% endblock %}
       
  