{% extends "::modele2.html.twig" %}

 {% block menu %}{{parent()}}Tableau de bord<br /><br />{% endblock %}

 {% block content %}
 
    <form method="post" action=""> {# pas besoin de mettre le nom si c'est la meme route#}
                 
        <label>Projet : </label><SELECT name='projet'>
        {% if id is defined %}
            {% for p in projet%}
                {%for t in id%}
                    {%if p.idProjet == t.idProjet%}
                        <OPTION selected="selected">{{p.nom}}
                             {%else%}
                        <OPTION>{{p.nom}}
                    {% endif %}
                {%endfor%}
            {%endfor%}
        {%else%}
            {% for p in projet%}
                <OPTION>{{p.nom}}
            {%endfor%}
        {% endif %}
        </SELECT> 
        
        <label>Sprint : </label><SELECT name='sprint'>
        {% if sprint is defined %}
            {% for s in sprint%}
                <OPTION>{{s.idsprint}}
            {%endfor%}
         {% endif %}
        </SELECT> 
        
        <input type='submit' value='Charger' name='charger'/> <br /> <br /> 
    {#</form>#}
 
    {% set counter = 0 %} 
        
    {% if userStories is defined %}
 
        <table style="border-collapse: collapse; border: solid; text-align: left"><tr>
           
            <td> A faire </td><td> En cours </td><td> A valider </td><td> Valider </td></tr>
        
            {% for userStory in userStories%}
            
                <tr>
                    <td>
                        {%if userStory.statutstatut.intitule == 'à faire'%}
                            
                           {# <td style=" width:25%; background-color:{{couleur.couleur}}">#}
                            <a name="{{userStory.idUserStorie}}" href="{{ path('blacklog_product_creation_userstories_technique', {'idUserStorie': userStory.idUserStorie}) }}"><b>#{{userStory.idUserStorie}}</b></a><br> 
                            <b name="fonctionnalite">Fonctionnalité : </b>{{userStory.fonctionnalite}}<br>
                            <b>Action : </b>{{userStory.action}}<br>
                            <b>DétailTechnique : </b> Afficher les userstories tech<br>
                        {% endif %}
                      </td>
                      <td>
                        {%if userStory.statutstatut.intitule == 'en cours'%}
                           
                            <a href="{{ path('blacklog_product_creation_userstories_technique', {'idUserStorie': userStory.idUserStorie}) }}"><b>#{{userStory.idUserStorie}}</b></a><br> 
                            <b>Fonctionnalité : </b>{{userStory.fonctionnalite}}<br>
                            <b>Action : </b>{{userStory.action}}<br>
                            <b>DétailTechnique : </b> <br>
                            Changer le statut en " Valider "<input type='checkbox' name='valider{{userStory.idUserStorie}}'/>
                        {% endif %}
                       </td>
                        <td>
                        {%if userStory.statutstatut.intitule == 'à valider'%}
                            
                            <a href="{{ path('blacklog_product_creation_userstories_technique', {'idUserStorie': userStory.idUserStorie}) }}"><b>#{{userStory.idUserStorie}}</b></a><br> 
                            <b>Fonctionnalité : </b>{{userStory.fonctionnalite}}<br>
                            <b>Action : </b>{{userStory.action}}<br>
                            <b>DétailTechnique : </b> <br>
                        {% endif %}
                       </td>
                        <td>
                        {%if userStory.statutstatut.intitule == 'terminé'%}
                            
                            <a href="{{ path('blacklog_product_creation_userstories_technique', {'idUserStorie': userStory.idUserStorie}) }}"><b>#{{userStory.idUserStorie}}</b></a><br> 
                            <b>Fonctionnalité : </b>{{userStory.fonctionnalite}}<br>
                            <b>Action : </b>{{userStory.action}}<br>
                            <b>DétailTechnique : </b> <br>
                            Changer le statut en " En cours "<input type='checkbox' name='afaire{{userStory.idUserStorie}}'/>
                        {% endif %}
                       </td>
 
                    {#<td><input {% if userStory.statutstatut.intitule == 'terminé' %} checked="checked" {%endif%} type="radio" name="{{ userStory.idUserStorie }}" {% if app.session.get('role') != 'user' %} disabled="disabled" {%endif%}/></td>#}
                </tr>

                {#{% set counter = counter + 1 %}
          
                {%if counter == 4%}
                    </tr><tr>
                    {% set counter = 0 %}   
                {% endif %}#}
            {%endfor %} 
            </tr></table><br /> 
        <input type='submit' value='Enregistrer' name='enregistrer'/> <br /> <br /> 
         </form>
    {% endif %}
 
 {% endblock %}







  
