{% extends "::modele2.html.twig" %}

{% block menu %}{{parent()}}CRA<br /><br />{% endblock %}

{% block content %} 
 
<script src = "http://code.jquery.com/jquery-1.9.1.js" > </script>
<script src = "http://code.jquery.com/ui/1.10.1/jquery-ui.js" > </script>
<link rel = "stylesheet" href = "http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<link rel = "stylesheet" href = "/resources/demos/style.css"/>

    <form method="post" action="">
                 
        {# <label>Début de début: </label><script>
            $( function () {
                $("#datepicker").datepicker();
            });
         </script>
         <input type = "text" name="date" id = "datepicker" />
         <input type='submit' value='Nouveau cra' name='nouveau'/> <br /><br />#}
         
          <table width="85%" height="85%" cellpadding="0" cellspacing="0" border="1"><tr><td>Developpeur</td><td>Date</td>{#<td>Projet</td>#}<td>Client</td><td>Tâche</td><td>Statut</td><td>Détails</td></tr>
         {% if cra is defined %}
            {% for theCra in cra%}
            
                <tr>
                    <td>{{theCra.developperdevelopper[0].nom}}</td>
                    <td>{{theCra.date | date ("d / m / Y")}}</td>
                    <td>{{theCra.client}}</td>
                    <td>{{theCra.tache}}</td>
                    <td>{{theCra.statut}}</td>
                    <td><textarea name="detail" rows="3" cols="50" style="border:solid 1px black; font-family:tahoma;"></textarea></td>
                </tr>
                
            {% endfor %}
         {% endif%}
            </table><br />
    </form>
        
{% endblock %}

   





  


